*{
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 3em;
}

canvas {
  display: block;
  width: 100%;
  height: 50vh;
  /* height: 100vh; */
  user-select: none;
  -webkit-user-drag: none;
}

.info-1 {
  max-width: 400px;
}

.info-2 {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 2em;
  overflow: auto;
}

.samples{
  margin-top: 3em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, background 0.2s, color 0.2s;
  margin-bottom: 1em;
  width: 100%;
}
button.active {
  background: #14b8a6;
  color: #fff;
  border-color: #0d9488;
  box-shadow: 0 0 0 2px #5eead4;
  z-index: 1;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #2563eb;
    color: #fff;
    border: 1px solid #2563eb;
  }
  button:hover {
    background-color: #1742a0;
    border-color: #1742a0;
  }
}

